<div class="container">
		<% @music.each_with_index do |tune, index| %>
			<div class="row">
				<div class="col-md-6 music-food">
					<iframe src="https://embed.spotify.com/?uri=<%= tune.uri %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
					<% if current_user %>
					    <%= link_to "⭐️", favorites_path(current_user.uid), method: :post, class: "btn btn-primary" %>
					<% end %><br>
					<%= link_to tune.name, tune.external_urls["spotify"] %><br>
					<%= tune.type.capitalize %><br>
				</div>
				<div class="col-md-3 music-food">
					<% nom = @food[index] %>
					<%= link_to nom.name, nom.url %><br>
					<%= nom.location.display_address.join(" ") %><br>
					P: <%= nom.display_phone %><br>
				</div>
				<div class="col-md-3">
					<%= image_tag nom.image_url, class: "food-img" %><br>
				</div>
			</div>
			<hr>
		<% end %>
</div>