<% if current_user %>
	<h3>Enter a word or phrase to get a pairing!</h3>
		<%= form_for search_path(params[:term]), method: :post do |f| %>
			<%= f.label(:"Word/Phrase:") %>
			<%= f.text_field(:term) %>
			<%= f.submit("Search") %>
		<% end %>
<% end %>

<h3>Top 20 Pairings!</h3>
<%= render 'shared/suggestion' %>