<!DOCTYPE html>
<html>
<head>
  <title>food tunes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<nav>
<div class="header">
<ul class="nav nav-pills nav-top">

	<li class="logged-in"><%= "Hi #{current_user.name}!" if current_user %></li>
	<%= image_tag 'spotify_logo', class: "logo" %>
	<li><%= link_to 'Log Out', logout_path, method: :delete if current_user %></li>
	<li><%= link_to 'Log In / Sign Up', '/auth/spotify' unless current_user %></li>
	<% if !current_user %>
	<p class="header-spotify">with Spotify</p>
	<% end %>
</ul>
</div>
</nav>
</header>
<hr>
<%= yield %>

</body>
</html>
